.black, .yellow, .green, .purple {
width: 200px;
height: 250px;
}
body {
    background-color: black;
}

h1 {
    font-family: 'Changa', sans-serif;
    font-size: 70px;
    text-align: center;
    font-weight: bold;
    color:rgb(223, 159, 63);
    margin-top: 10px;
    margin-bottom: 10px;
}

.instructions {
    font-family: 'Changa', sans-serif;
    font-size: 25px;
    text-align: left;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.target, .Wins, .Losses, .score {
    font-family: 'Changa', sans-serif;
    font-size: 50px;
    text-align: left;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Wins, .Losses {
    font-size: 35px;
}

.score {
    margin-top: 30px;
}

.gameData {
    color: rgb(223, 159, 63);
    font-family: 'Frijole', cursive;
}